<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RecolectorDeDatos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RecolectorDeDatos.Properties.Settings>
            <setting name="BaseDeDatosFB" serializeAs="String">
                <value />
            </setting>
            <setting name="UsuarioFB" serializeAs="String">
                <value />
            </setting>
            <setting name="ContraseñaFB" serializeAs="String">
                <value />
            </setting>
            <setting name="ServidorMySQL" serializeAs="String">
                <value />
            </setting>
            <setting name="UsuarioMySQL" serializeAs="String">
                <value />
            </setting>
            <setting name="ContraseñaMySQL" serializeAs="String">
                <value />
            </setting>
            <setting name="BaseDeDatosMySQL" serializeAs="String">
                <value />
            </setting>
            <setting name="ServidorFB" serializeAs="String">
                <value />
            </setting>
            <setting name="PuertoFB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PuertoMySQL" serializeAs="String">
                <value>0</value>
            </setting>
        </RecolectorDeDatos.Properties.Settings>
    </userSettings>
</configuration>